<div class="row">
	<div class="col-xs-12">
		<h3>Albums <small>{{albums.total}} Results</small></h3>
		<hr>
	</div>
</div>
{{#if albums.total}}
	<div class="row">
		{{#each albums.items}}
			<div class="album col-xs-6 col-md-3">
				<div class="square rounded-border overlay-wrapper" style="background-image: url({{this.images.[1].url}})">
					<a href="{{this.uri}}">
						<div class="overlay">
							<div class="overlay-content">
								<p>
									{{this.name}}
								</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		{{/each}}
	</div>
	<div class="row">
		<div class="col-xs-12">
			<nav>
				<ul class="pager"> 
					<li class="{{#unless albums.previous}}disabled{{/unless}}">
						<a href="#" id="previousAlbums">Previous</a>
					</li>
					<li class="{{#unless albums.next}}disabled{{/unless}}">
						<a href="#" id="nextAlbums">Next</a>
					</li>   
				</ul>
			</nav>
		</div>
	</div>
{{/if}}