<div class="alert {{#if code}}alert-info{{/if}}{{#unless code}}alert-warning{{/unless}}">
	{{#if code}}
		Showing results for country: {{code}} <span class="flag-icon flag-icon-{{cssCode}}"></span>
	{{/if}}
	{{#unless code}}
		Your location could not be determined, searching worldwide
	{{/unless}}
</div>